
    <div class="jilu">
    <div class="diantaiList  aa">
        <div class="choose">
            <span class="choose_back"></span>
            <h3>多纳双语电台</h3>
            <ul>
                <li class="current"><a href="javascript:;"><img src="<%=list1.album.cover_url_small%>" width="100%" height="100%"></a><p>0-7岁（儿谣、绘本故事）</p><span><%=arr1.length%>个节目</span></li>
                <li><a href="javascript:;"><img src="<%=list2.album.cover_url_small%>" width="100%" height="100%"></a><p>8-12岁（双语绘本故事）</p><span><%=arr2.length%>个节目</span></li>
                <li><a href="javascript:;"><img src="<%=list3.album.cover_url_small%>" width="100%" height="100%"></a><p>0-12岁（亲子英文，每日一句）</p><span><%=arr3.length%>个节目</span></li>
                <li><a href="javascript:;"><img src="<%=list4.album.cover_url_small%>" width="100%" height="100%"></a><p>0-12岁（原版引进英文儿歌）</p><span><%=arr4.length%>个节目</span></li>
                <li><a href="javascript:;"><img src="<%=list5.album.cover_url_small%>" width="100%" height="100%"></a><p>幼升小必备（跟名师学自然拼音）</p><span><%=arr5.length%>个节目</span></li>
            </ul>
        </div>
        <div class="play">
            <span class="play_back" id="play_back"></span>
            <div class="playli">
                <h3>播放全部</h3>
                <ul>
                    <%_.each(arr1,function(v,k){%>
                    <li><a href="play1.html?list=arr1&id=<%=v.id%>"> <%=v.title%></a></li>
                    <%})%>
                    <li class="addmore"><a href=""> 加载更多>></a></li>
                </ul>
            </div>
            <div class="playli">
                <h3>播放全部</h3>
                <ul>
                    <%_.each(arr2,function(v,k){%>
                    <li><a href="play1.html?list=arr2&id=<%=v.id%>"> <%=v.title%></a></li>
                    <%})%>
                </ul>
            </div>
            <div class="playli">
                <h3>播放全部</h3>
                <ul>
                    <%_.each(arr3,function(v,k){%>
                    <li><a href="play1.html?list=arr3&id=<%=v.id%>"> <%=v.title%></a></li>
                    <%})%>
                </ul>
            </div>
            <div class="playli">
                <h3>播放全部</h3>
                <ul>
                    <%_.each(arr4,function(v,k){%>
                    <li><a href="play1.html?list=arr4&id=<%=v.id%>"> <%=v.title%></a></li>
                    <%})%>
                </ul>
            </div>
            <div class="playli">
                <h3>播放全部</h3>
                <ul>
                    <%_.each(arr5,function(v,k){%>
                    <li><a href="play1.html?list=arr5&id=<%=v.id%>"> <%=v.title%></a></li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
    </div>
<script>
    $(".diantai").click(function(){
        $(".play").hide();
    })
    $(".choose_back").click(function(){
        audio[0].play();
        $(".weixin_page2").hide();
    })
    $("#play_back").click(function(){
        $(".play").hide()
        $(".choose").show();
    })
    $(".choose li").each(function(k){
        $(this).click(function(){
            $(".choose").hide();
            $(".play").show();
            $(".playli").hide();
            $(".playli").eq(k).show();
        })
    })
</script>
