<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>酷学多纳</title>
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="../css/menu1.css" media="screen">
</head>
<body>
<div class="jilu" style="display: block">
    <div class="diantai"></div>
    <div class="diantaiList">
        <div class="choose">
            <h3>多纳双语电台</h3>
            <ul>
                <li class="current"><a href="javascript:;"><img src="<%=list1.album.cover_url_small%>" width="100%" height="100%"></a><p>0-7岁</p><p class="small">（儿谣、绘本故事）</p><span><%=arr1.length%>个节目</span></li>
                <li><a href="javascript:;"><img src="<%=list2.album.cover_url_small%>" width="100%" height="100%"></a><p>8-12岁</p><p class="small">（双语绘本故事）</p><span><%=arr2.length%>个节目</span></li>
                <li><a href="javascript:;"><img src="<%=list3.album.cover_url_small%>" width="100%" height="100%"></a><p>0-12岁</p><p class="small">（亲子英文，每日一句）</p><span><%=arr3.length%>个节目</span></li>
                <li><a href="javascript:;"><img src="<%=list4.album.cover_url_small%>" width="100%" height="100%"></a><p>0-12岁</p><p class="small">（原版引进英文儿歌）</p><span><%=arr4.length%>个节目</span></li>
                <li><a href="javascript:;"><img src="<%=list5.album.cover_url_small%>" width="100%" height="100%"></a><p>幼升小必备</p><p class="small">（跟名师学自然拼音）</p><span><%=arr5.length%>个节目</span></li>
            </ul>
        </div>
        <div class="play">
            <div class="playli">
                <h3>返回</h3>
                <ul>
                    <%_.each(arr1,function(v,k){%>
                    <li><a href="play1.html?list=arr1&id=<%=v.id%>"> <%=v.title%></a></li>
                    <%})%>
                </ul>
            </div>
            <div class="playli">
                <h3>返回</h3>
                <ul>
                    <%_.each(arr2,function(v,k){%>
                    <li><a href="play1.html?list=arr2&id=<%=v.id%>"> <%=v.title%></a></li>
                    <%})%>
                </ul>
            </div>
            <div class="playli">
                <h3>返回</h3>
                <ul>
                    <%_.each(arr3,function(v,k){%>
                    <li><a href="play1.html?list=arr3&id=<%=v.id%>"> <%=v.title%></a></li>
                    <%})%>
                </ul>
            </div>
            <div class="playli">
                <h3>返回</h3>
                <ul>
                    <%_.each(arr4,function(v,k){%>
                    <li><a href="play1.html?list=arr4&id=<%=v.id%>"> <%=v.title%></a></li>
                    <%})%>
                </ul>
            </div>
            <div class="playli">
                <h3>返回</h3>
                <ul>
                    <%_.each(arr5,function(v,k){%>
                    <li><a href="play1.html?list=arr5&id=<%=v.id%>"> <%=v.title%></a></li>
                    <%})%>
                </ul>
            </div>

        </div>
    </div>
</div>
<script src="../js/zepto.min.js"></script>
<script>
    $(".diantai").click(function(){
        $(".play").hide();
    })
    $(".playli h3").click(function(){
        $(".play").hide();
    })
    $(".choose li").each(function(k){
        $(this).click(function(){
            $(".play").show();
            $(".playli").hide();
            $(".playli").eq(k).show();
        })
    })
    //video[0].addEventListener("ended",function(e){
      //  btn.show()
    //});
</script>
</body>
</html>
