<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%=item.title%></title>
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="description" CONTENT="多纳双语电台-新东方在线教育出品">
    <meta name="keywords" CONTENT="多纳双语电台">
    <meta name="viewport"  content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../css/play1.css" media="screen">

</head>
<body>
<div class="weixin_page1">
    <section class="section">
        <div class="section_top">
            <div class="header" id="header">电台目录</div>
            <div class="cd">
                <div class="cd-list">
                    <img src="<%=item.cover_url_middle%>" class="rotating" id="translateImg" style='animation-play-state":"paused","-webkit-animation-play-state":"paused";'>
                    <div>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="bone">
                <img src="../images/weixin/bone.png">
            </div>
            <p><%=item.nickname%></p>
            <div class="section_foot">
                <span class="icon-music icon-2x"></span>
                <span><%=item.plays_count%></span>
                <span class="icon-heart icon-2x"></span>
                <span style='color: #159b2e;font-family: "Microsoft Yahei";'><%=item.favorites_count%></span>
            </div>
        </div>
        <div class="song_list">
            <h3><%=item.title%></h3>
            <div class="rang">
                <span></span>
                <span id="durationBg"></span>
                <span id="durationRound"></span>
                <span id="opacity"></span>
            </div>
            <div class="btn">
                <a href="" id="previd"><span  class="icon-step-backward incon-2x"></span></a>
                <span id="backward" class="icon-backward incon-2x"></span>
                <span class="icon-pause icon-2x" id="audiobutton"></span>
                <span  id="forward" class="icon-forward incon-2x"></span>
                <a href="" id="nextid"><span  class="icon-step-forward incon-2x"></span></a>
            </div>
        </div>
        <audio id="audioplayer" autoplay="autoplay" style="display: none">
            <source src="<%=item.play_url_32%>" type="audio/mpeg">
            <source src="<%=item.play_url_32%>" type="audio/ogg">
        </audio>
    </section>
    <footer class="footer" id="footer">
        <div></div>
    </footer>
</div>
<div class="weixin_page2" >

</div>
<script src="../js/zepto.min.js"></script>
<script src="../js/require.js"></script>
<script src="../src/config.js"></script>
<script>
    //设置上下音频
    $.get("pages?id=<%=item.id%>",function(data3){
        $("#previd").attr("href","play1.html?id="+data3.previd)
        $("#nextid").attr("href","play1.html?id="+data3.nextid)
    })
    var audio=$("#audioplayer");
    var btn=$("#audiobutton");
    var png=$("#translateImg")
    //自动生成跳动的ul
    for(var i=0; i<15; i++){
        var aul=$("<ul> <li></li><li></li><li></li><li></li><li></li><li></li></ul>");
        $("#footer div").append(aul)
    }
    //获取ul的length
    var aul=$("#footer ul")
    var timer=null;
    //给每一个ul添加一个class
    aul.addClass("move")
    //遍历ul，给每个ul随机添加transform运动元素病封装函数
    function move(){
        aul.each(function(k,v){
            aul.eq(k).css({"-webkit-transform":"translateY("+Math.floor(Math.random()*50)+"px)"})
        })
    }
    //旋转图片元素

    $("#audiobutton").click(function () {
        //console.log("...")
        if(btn.hasClass("icon-play")){
            audio[0].play();
        }else{
            audio[0].pause();
        }
    })
    var playing=false
    //滑动条
    audio[0].addEventListener("play",function(e){
        playing=true;
        btn.removeClass("icon-play").addClass("icon-pause");
        png.css({"animation-play-state":"running","-webkit-animation-play-state":"running"})
        clearInterval(timer)
        timer=setInterval(move,80)
    });
    audio[0].addEventListener("pause",function(e){
        png.css({"animation-play-state":"paused","-webkit-animation-play-state":"paused"})
        btn.removeClass("icon-pause").addClass("icon-play");
        clearInterval(timer)
    });
    audio[0].addEventListener("timeupdate",function(e){
        if(!playing){
            playing=true;
            btn.removeClass("icon-play").addClass("icon-pause");
            png.css({"animation-play-state":"running","-webkit-animation-play-state":"running"})
            clearInterval(timer)
            timer=setInterval(move,80)
        }
        if(!isNaN(audio[0].duration)){
            var width=$("#opacity").width()
            var avalue = (audio[0].currentTime/audio[0].duration)*width;
            $("#durationBg").css("width",avalue);
            $("#durationRound").css("left",avalue)
        }
    });
    audio[0].addEventListener("canplay",function(e){
        audio[0].play()
    });
    $("#backward").click(function(){
        audio[0].currentTime=audio[0].currentTime-audio[0].duration*0.05
    })
    $("#forward").click(function(){
        audio[0].currentTime=audio[0].currentTime+audio[0].duration*0.05

    })
    //电台目录切换
    $(".header").click(function () {
        $(".weixin_page2").show();
        $(".diantaiList").css({"-webkit-transform":"translateY(2048px)"});
        audio[0].pause();
    })
    //加载菜单
    requirejs(["play1"]);
</script>
</body>
</html>
