<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>酷学多纳</title>
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../css/wx_share.css" media="screen">

</head>
<body>
<div class="xiazai" id="weixin-tip">
    <p><img src="/images/live_weixin.png" alt="微信打开"/></p>
</div>
<div class="wx_share">
    <div class="studies">
        <ul>
            <li><img class="childInfo" src="<%=childimg%>" onerror="javascript:this.src='../images/app/speak_double_head2.png';"></li>
            <li><img class="headInfo" src="<%=headimg%>" onerror="javascript:this.src='../images/app/speak_double_head2.png';"></li>
        </ul>
    </div>
    <div class="watch">
        <span class="watch_bg "></span>
        <div class="play_icon"></div>
        <p class="video_title"><%=video.name%></p>
        <video poster="<%=video.get("andImagePath")._url%>"  class="video" id="video">
            <source src="<%=video.get("videoPath")._url%>" type="video/ogg">
            <source src="<%=video.get("videoPath")._url%>" type="video/mp4">
        </video>
        <span class="button icon-pause"></span>
    </div>
    <div class="listen">
        <img src="../images/weixin_share/3_2.png" class="rotating" id="translate">
        <img src="../images/weixin_share/3_3.png" class="music_stick aa">
        <p><%=audio.get("name")%></p>
        <span class="icon_play" id="iconButton"></span>
        <audio id="audioplayer" style="display: none" class="audio">
            <source src="<%=audio.get("playUrl")%>" type="audio/mpeg">
        </audio>
    </div>
    <div class="practice"></div>
    <div class="system">
        <a href="https://itunes.apple.com/cn/app/duo-na-xue-ying-yu-zhi-ru/id852917296?mt=8" target="_blank" class="learnButton"></a>
    </div>
    <p class="instruction"></p>
    <div class="logoBg">
        <img src="../images/weixin_share/bj_3.png" class="logo_footer">
        <a href="https://itunes.apple.com/cn/app/duo-na-xue-ying-yu-zhi-ru/id852917296?mt=8" target="_blank"></a>
    </div>
</div>
<script src="../js/zepto.min.js"></script>
<script>
    var btn=$(".play_icon");
    var video=$(".video");
    var iconbutton=$("#iconButton");
    var translateImage=$("#translate");
    var audio=$(".audio");
    var musicStick=$(".music_stick");
    //视频部分
    btn.click(function () {
        $(this).addClass("remove");
        $(".button").show();
        video[0].play();
    })
    $(".button").click(function(){
        //console.log("cccc")
        if($(".button").hasClass("icon-pause")){
            video[0].pause();
        }else{
            video[0].play();
        }
    })
    video[0].addEventListener("pause",function(e){
        $(".button").removeClass("icon-pause").addClass("icon-play")
    })
    video[0].addEventListener("play",function(e){
        $(".button").removeClass("icon-play").addClass("icon-pause")
    })
    //音频部分
    //停止图片旋转
    translateImage.css({"animation-play-state":"paused","-webkit-animation-play-state":"paused"})
    $("#iconButton").click(function(){
        if(iconbutton.hasClass("icon_play")){
            audio[0].play();
        }else{
            audio[0].pause();
        }
    })
    audio[0].addEventListener("play",function(e){
        iconbutton.removeClass("icon_play").addClass("icon_pause");
        musicStick.css({"transform":"rotate(13deg)","-webkit-transform":"rotate(13deg)"})
        translateImage.css({"animation-play-state":"running","-webkit-animation-play-state":"running"});
    });
    audio[0].addEventListener("pause",function(e){
        musicStick.css({"transform":"rotate(0deg)","-webkit-transform":"rotate(0deg)"})
        translateImage.css({"animation-play-state":"paused","-webkit-animation-play-state":"paused"});
        iconbutton.removeClass("icon_pause").addClass("icon_play");

    });

//    $("#video").click(function () {
//        console.log(".....")
//    })
    //判断微信打开
    var u = navigator.userAgent, app = navigator.appVersion;
    var isweixin = u.toLowerCase().match(/MicroMessenger/i) == 'micromessenger'; //微信
    if(location.search.indexOf("?url=")==0){
        location.href=location.search.substr(5)
    }
    if(isweixin){
        if(location.search.indexOf("?url=")==0) {
            document.getElementById("weixin-tip").style.display = "block"
        }else{
            document.getElementById("weixin-tip").style.display = "none"
        }
        $(".download").click(function(e){
            e.preventDefault()
            location.href="?url="+$(this).attr("href")

        })
        document.getElementById("weixin-tip").onclick=function(){
            this.style.display="none"
        }
    }else{
        document.getElementById("weixin-tip").style.display="none"
    }

</script>
</body>
</html>
